#footer {
  display: flex;
  gap: 50px;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid rgb(194, 194, 194);
  padding-bottom: 20px;
  background-color: rgb(248,245,244);
}

#footer > img {
  margin-top: -210px;
}

#footer ul li {
  list-style: none;
  margin-top: 10px;
}

#footer ul li a {
  text-decoration: none;
  color: blue;
  font-size: 13px;
}

#footer > div > p {
  font-weight: 500;
}

#disclaimer {
  margin-top: 30px;
  text-align: center;
  color: black;
  font-size: 13px;
  font-weight: 500;
}

#disclaimer p {
  margin-bottom: 7px;
}
