*{
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', Georgia, Verdana, sans-serif;
}
header{
    width: 100%;
    height: 150px;
    background-color: rgb(0,0,153);
}
#heading_logo{
    width: 95%;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#heading_logo>div{
    width: 25%;
    height: 45px;
    margin-top: 30px;
}
#heading_logo>div>img{
    width: 100%;
    height: 40px;
    cursor: pointer;
}
#navbar{
    width: 100%;
    height: 60px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar>div{
    width: 55%;
    height: 50%;
    display: flex;
    margin: auto;
    margin-top: 20px;
}
#navbar>div>ul{
    width: auto;
    list-style: none;
    padding: 0;
    /* margin: 0; */
    display: flex;
    margin: auto;
   flex-wrap: wrap;
}
#navbar>div>ul>li{
    width: auto;
    position: relative;
    cursor:pointer;
    font-size: 16px;
    font-family: 'Century Gothic', Georgia, Verdana, sans-serif;
   margin: 20px 25px 0 15px;
    line-height: 30px;
    color: white;
    font-weight: bold;
}
#dropdown{
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    padding: 0;
    font-size: 18px;
  
}
#boxes{
    width: 900px;
    height: 60px;
    background-color: rgb(4, 4, 104);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: inline-flex;
    margin: auto;
}
li{
    list-style: none;
    margin: auto;
}
li:hover{
    cursor: pointer;
    text-decoration: underline;
}
#dropdown>div{
    display: none;
}
#dropdown>div>{
    display: none;
}
#navbar li:hover > #dropdown div{
    display: block;
    line-height: 20px;
    margin-top: 25px;
    margin-left: -10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: rgb(4, 4, 104); */
    
}
#navbar li:hover > #dropdown div>li{
    display: inline-flex;
    line-height: 20px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
#navbar li:hover > #dropdown div>li:hover{
    text-decoration: underline;
}
#video_box{
    width: 100%;
    height: 400px;   
}
#video_box>video{
   width: 100%;
   height: 100%;
   margin: auto;
   object-fit: cover;
   z-index: -100;
}
#with_us{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.box{
    width: 80%;
    height: auto;
    margin: auto;
}
.box>div:nth-child(1){
    width: 70%;
    height: 30%;
    margin: auto;
}
.box>div:nth-child(1)>img{
    width: 100%;
}
.box>div:nth-child(2){
    width: 100%;
    height:50px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box>div:nth-child(2)>h3{
    color: rgb(0,0,253);
    letter-spacing: 3px;
    cursor: pointer;
}
.box>div:nth-child(2)>h3>i{
    margin-left: 10px;
}
.box>div:nth-child(2)>h3:hover{
    color: rgba(47, 207, 47, 0.527);
}
.box>div:nth-child(3){
    width: 100%;
    height: auto;   
}
.box>div:nth-child(3)>p{
    text-align: center;
    font-size: 19px;
    line-height: 28px;
}
#logo_container{
    width: 100%;
    height: auto;
    margin-top: 90px;
    margin-bottom: 60px;
}
.long{
    width: 45%;
    height: 40px;
    margin: auto;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.long>img{
 width: 100%;
 height: 80%;
 cursor: pointer;
}
.short{
    width: 35%;
    height: 40px;
    margin: auto;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.short>img{
    width: 100%;
    height: 80%;
    cursor: pointer;
}
.shorter{
    width: 15%;
    height: 40px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
#carauser{
    width: 100%;
    height: 320px;
    background-color: rgb(0,0,253);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#carauser>div:nth-child(1){
    width: 20%;
    height: 80%;
    border-radius: 150px;
    position: relative;
    top: -20%;
   
}
#carauser>div:nth-child(1)>img{
    width: 100%;
}
#carauser>div:nth-child(2){
    width: 38%;
    height: 60%;

}
#carauser>div:nth-child(2)>div{
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}
#carauser>div:nth-child(2)>div>p{
    text-align: center;
    font-size: 18px;
    font-weight: 540;
    color: white;
}
#carauser>div:nth-child(2)>div+p{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    color: white;
}
#carauser>div:nth-child(3){
    width: 20%;
}
#bton{
    width: 100%;
    height: 40px;
   
}
#bton>button{
    width: 30px;
    height: 50px;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    position: absolute;
}
#bton>button:nth-child(1){

    left: 520px;
    
}
#bton>button:nth-child(2){
    right: 520px;
   
}
#investors{
    width: 100%;
    height: 600px;
    background-image: url("https://s27.q4cdn.com/708721433/files/design/banner/home-cta.jpg");
    background-repeat: no-repeat;
    background-position: center 45%;
    background-size: cover;
    
}
#investors>div{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;

}
.carrer_section{
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 50px;
}
.carrer_section>div:nth-child(1){
    width: 30%;
    margin: auto;
}
.carrer_section>div:nth-child(1)>img{
    width: 100%;
}
.carrer_section>div:nth-child(2){
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}
.carrer_section>div:nth-child(2)>h3{
    letter-spacing: 4px;
    text-align: center;
    color: rgb(0,0,253);
   
}
.carrer_section>div:nth-child(3){
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.carrer_section>div:nth-child(3)>p{
    text-align: center;
    font-size: 15px;
}
.carrer_section>div:nth-child(4){
    width: 100%;
    height: auto;
    margin: auto;
}
.carrer_section>div:nth-child(4)>p{
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: lighter;
}
.carrer_section>div:nth-child(4)>p>i{
    
    color:rgb(0,0,253) ;
    
}
.carrer_section>div:nth-child(4)>p>i:hover{
    color: rgba(34, 233, 34, 0.397);
    cursor: pointer;
}
.carrer_section>div:nth-child(1)>img:hover{
    cursor: pointer;
}


     /* Footer CSS */
footer{
    width: 100%;
    height: 300px;
    background-color:rgb(0,0,153) ;
}     
#footer_logo{
    width: 70px;
    height: 70px;
    background-color:rgb(0,0,153) ;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    top: -12%;
    cursor: pointer;
}
#footer_bar{
    width: 70%;
    height: auto;
    margin: auto;
}
#footer_bar>ul{
    width: auto;
    display: flex;
    margin: auto;
}
#footer_bar>ul>li{
    color: white;
    font-family: 'Century Gothic', Georgia, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
#footer_para{
    width: 41%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
#footer_para>p{
    font-family: 'Century Gothic', Georgia, Verdana, sans-serif;
    font-size: 12px;
    color: white;
    font-weight: normal;
    text-align: center;
    line-height: 1.6;
}
#footer_terms{
    width: 12%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 30px;
}
#footer_terms>p{
    font-size: 13px;
    font-family: 'Century Gothic', Georgia, Verdana, sans-serif;
    color: white;
    font-weight: normal;
}
#footer_bar>ul>li:hover{
    color: white;
    text-decoration: underline;
}