*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic', Georgia, Verdana, sans-serif;
}
nav{
    height: 150px;
    background: rgb(0,0,153);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav div{
    width: 20%;
    margin: 20px 0 30px 0;

}
nav div img{
    width: 100%;
    cursor: pointer;
}
#click:checked~ ul{
    left: 0%;
}
#click{
    display: none;
}
nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 24px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    word-spacing: 2px;
}
nav ul li a:hover{
    text-decoration: underline;
}
nav .menu-btn{
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
@media all and (min-width: 401px) and (max-width: 800px){
    nav{
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;    
    }
    nav div{
        margin-top:35px ;
        margin-left: 31%;
        width: 38%;
        height: 40px;
    }
    nav div img{
        width: 100%;
        height: 30px;
    }
    nav .menu-btn{
        display: block;
        float: right;
        margin-right: 30px;
    }
    nav ul{
        position:fixed;
        top: 70px;
        left: -100%;
        background: rgb(0,0,153);
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
    }
    nav ul li{
        margin: 40px 0;
    }
    nav ul li a{
        font-size: 20px;
        display: block;
    }
}
@media all and (min-width: 100px) and (max-width: 400px){


nav{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}
nav div{
    margin-top:35px ;
    margin-left: 31%;
    width: 38%;
    height: 40px;
}
nav div img{
    width: 100%;
    height: 30px;
}
nav .menu-btn{
    display: block;
    float: right;
    margin-right: 30px;
}
nav ul{
    position:fixed;
    top: 70px;
    left: -100%;
    background: rgb(0,0,153);
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
}
nav ul li{
    margin: 40px 0;
}
nav ul li a{
    font-size: 20px;
    display: block;
}
}