

#navbar {
  display: flex;
  align-items: center;
  text-align: center;
  height: 60px;
  border: 1px solid rgb(194, 194, 194);
}

#logo {
  display: inline;
  margin-left: 70px;
  margin-right: 15px;
  width: 126px;
  height: 28px;
}

#logo:hover {
  cursor: pointer;
}

#navbar ul {
  display: inline-flex;
  list-style: none;
  color: black;
}

#navbar ul li {
  width: 120px;
  padding: 15px;
}

#navbar ul li a {
  text-decoration: none;
  color: #343b53;
}

#submenu,
#log-out {
  display: none;
}

#navbar > ul > li > a:hover {
  color: blue;
}

#navbar ul li:hover #submenu,
#signin:hover #log-out {
  display: block;
  width: 400px;
  text-align: left;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 13px;
  border-radius: 7px;
  background: white;
  position: absolute;
  z-index: 2;
}

#navbar ul li:hover #submenu ul,
#signin:hover #log-out ul {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

#navbar ul li:hover #submenu ul li,
#signin:hover #log-out ul li {
  width: 100%;
  padding: 10px;
  padding-left: 30px;
}

#navbar ul li:hover #submenu ul li:hover,
#signin:hover #log-out ul li:hover {
  background-color: #d7dbe9;
  cursor: pointer;
}

#signin:hover #log-out {
  width: 120px;
}

#signin {
  margin-top: -15px;
}

.sub-logo {
  margin-right: 5px;
}

#menu {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  width: 72%;
  margin-right: 80px;
}

#menu a {
  text-decoration: none;
  color: #343b53;
}

#menu a:hover {
  color: blue;
}

#menu_alt1 {
  display: none;
}

@media (min-width: 576px) and (max-width: 992px) {
  #menu {
    display: none;
  }

  #menu_alt1 {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    width: 72%;
    margin-right: 80px;
  }
}

@media (max-width: 576px) {
  #menu {
    display: none;
  }
  #navbar ul {
    display: none;
  }

  #menu_alt1 {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    width: 72%;
    margin-right: 80px;
  }
}
